@model MediaStorage.Common.ViewModels.User.UserPostViewModel

@{
    ViewBag.Title = "Users";
}

<div class="col-md-12">
    <h1>@ViewBag.Title <small>@Html.GetAddOrUpdateSubTitle()</small></h1>
    <div class="col-md-12">
        <form class="add-or-update-form" action="@Url.Action("AddOrUpdate")" method="post">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.Id)

            <div class="form-group">
                <label>@Html.DisplayNameFor(m => m.Username)</label>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Username) })
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(m => m.Mail)</label>
                @Html.TextBoxFor(m => m.Mail, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Mail) })
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(m => m.UserRoleIds)</label>
                @Html.ListBoxFor(m => m.UserRoleIds, (IEnumerable<SelectListItem>)ViewBag.UserRoles, new { @class = "form-control" })
            </div>
            <label class="form-control" style="margin-bottom:16px">
                @Html.CheckBoxFor(m => m.IsActive) @Html.DisplayNameFor(m => m.IsActive)
            </label>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-save"></i> Save
            </button>
            @Html.ShowResult()
            @Html.ValidationSummary("", new { @class = "alert alert-danger custom-alert" })
        </form>
    </div>
</div>