@model ICollection<MediaStorage.Common.ViewModels.Library.LibraryViewModel>

@{
    ViewBag.Title = "Library";
}

<div class="col-md-12">
    <h1>@ViewBag.Title <small>List</small></h1>
    <a href="@Url.Action("AddOrUpdate")" class="btn btn-primary form-control add-button"><i class="fa fa-plus"></i> Add New Library</a>
    @Html.ShowResult()
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-md-1">&nbsp;</th>
                    <th>@Html.DisplayNameFor(m => m.Single().Name)</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>@item.Name</td>
                        <td class="col-md-2" style="text-align: center">
                            <a onclick="return confirm('Are you sure?');" href="@Url.Action("Remove", new { id = item.Id })" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a href="@Url.Action("AddOrUpdate", new { id = item.Id })" class="btn btn-warning">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>