@model MediaStorage.Common.ViewModels.Menu.MenuViewModel

@{
    ViewBag.Title = "Menu";
    string subTitle = ViewContext.RouteData.Values["id"] == null ? "Add" : "Update";
}

<div class="col-md-12">
    <h1>@ViewBag.Title <small>@subTitle</small></h1>
    <div class="col-md-8">
        <form class="add-or-update-form" action="@Url.Action("AddOrUpdate")" method="post">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.Id)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Name) })
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Description) })
            <button type="submit" class="btn btn-success">
                <i class="fa fa-save"></i> Save
            </button>
            @Html.ShowResult()
            @Html.ValidationSummary("", new { @class = "alert alert-danger custom-alert" }, "div")
        </form>
    </div>
</div>